@model IEnumerable<MyAirbnb.Models.Imovel>

@{
    ViewData["Title"] = "Index";
}

<h1>Imóveis</h1>
<br/>
<form asp-controller="Imoveis" asp-action="Index">
    <p>
        Pesquisa: <input type="text" name="search" />
        <input type="submit" value="Filter" />
    </p>
</form>
<br/>
@if (User.IsInRole("Gestor"))
{
    <p>
        <a asp-action="Create">Inserir novo imóvel</a>
    </p>
}
<ul style='list-style:none; display: flex; flex-wrap: wrap;'>
@foreach (var item in Model){
 <li style='display: flex; padding: 1rem;'>
     <div class='card' style='display: flex; flex-direction: column; overflow: hidden; max-width: 300px;'>
         @if (item.ImagemNome != null)
         {
            <img style='height: auto; max-width: 100%; vertical-align: middle;' src="@Url.Content("~/images/" + item.ImagemNome)">
         }
         else
         {
            <img  style='height: auto; max-width: 100%; vertical-align: middle;' src="">
         }
         <div style='padding: 5px; '>
             <div style='float:left; width:75%;'>
                <h2>@Html.DisplayFor(modelItem => item.Nome)</h2>
                <h6>@Html.DisplayFor(modelItem => item.Categoria.Name)</h6>
                <p>@Html.DisplayFor(modelItem => item.Descricao)</p>
             </div>
            <div style='float:right;width:25%; padding-top:10px;' >
                <h5 style='text-align:center'>@Html.DisplayFor(modelItem => item.Preco)€</h5>   
            </div>
            @Html.ActionLink("Detalhes", "Details", "Imoveis", new {item.Id}, new { @class = "btn btn-primary"})
            
         </div>
         
     </div>
 </li>   
}
</ul>


