@model IEnumerable<MyAirbnb.Models.Imovel>

@{
    ViewData["Title"] = "Index";
}

<h1>Imóveis</h1>
<br/>
<form asp-controller="Imoveis" asp-action="Index">
    <p>
        Pesquisa: <input type="text" name="search" />
        <input type="submit" value="Filtrar" />
    </p>
</form>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImagemNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                Avaliação
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="padding:4px;">
                    @if (item.ImagemNome != null)
                    {
                        <img style="width:60px;height:60px; object-fit:cover" src="@Url.Content("~/images/" + item.ImagemNome)">
                    }
                    else
                    {
                        <img style="width:60px;height:60px; object-fit:cover" src="">
                    }
                </td>
                <td style="padding-top:16px">
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td style="padding-top:16px">
                    @Html.DisplayFor(modelItem => item.Preco)€
                </td>
                <td style="padding-top:16px">
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td style="padding-top:16px">
                    @Html.DisplayFor(modelItem => item.Categoria.Name)
                </td>
                <td>
                    @{double? media = item.Reservas.Average(r => r.RatingImovel);
                        if(media!=null)media = (double)Math.Round((decimal)media, 1);}
                    @Html.DisplayFor(modelItem => media)
                </td>
                <td style="padding-top:16px">
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>
