@model MyAirbnb.Models.Imovel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Imóvel</h4>
    <hr />
    @if (Model.ImagemNome != null)
    {
        <img style="width:360px;height:360px; object-fit:cover" src="@Url.Content("~/images/" + Model.ImagemNome)">
    }
    else
    {
        <img style="width:360px;height:360px; object-fit:cover" src="">
    }
    <br />
    <br />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Id)
        </dd>
        <dt class="col-sm-2">
            Funcionário
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Funcionario.FuncionarioNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar à lista</a>
</div>
